<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        Examenes de Sangre :<br>
        <input type="checkbox" name="testCategory"> Mozzarella<br>
        <input type="checkbox" name="testCategory"> Jamón<br>
        <input type="checkbox" name="testCategory"> Salsa de tomate<br>
        <input type="checkbox" name="testCategory"> Pimientos<br>
        <input type="checkbox" name="testCategory"> Champiñones<br>
        <input type="checkbox" name="testCategory"> Olivas negras<br>
        <input type="checkbox" name="testCategory"> Salsa picante
    </form>
</body>

</html>